@model ReWork.Model.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "account", FormMethod.Post))
{
    @Html.LabelFor(p => p.Email)<br />
    @Html.EditorFor(p => p.Email)
    @Html.ValidationMessageFor(p => p.Email)

    <br /><br />
    <input type="submit" value="Send"/>
}



