@{
    ViewBag.Title = "Users";
}

<br />
<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" name="search-users" type="button">Search</button>
            </span>

            <input type="text" name="user-name" class="form-control">
        </div>
    </div>
</div>
<br />

<div class="row">
    <table class="table users-table">
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="user-details-modal">
    <div class="modal-dialog">
    </div>
</div>

<div class="pagination"></div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/users.js"></script>
}
