@{
    ViewBag.Title = "Users";
}

<div class="row">
    <table class="table users-table">
        <tbody>    
        </tbody>
    </table>
</div>

<div class="pagination"></div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/users.js"></script>
}
