
@{
    ViewBag.Title = "Account";
}

<input type="submit" name="create-customer" value="Create Customer Profile"/>
<br />

<a href="/settings/employee">
    <input type="submit" name="create-freelancer" value="Create Freelancer Profile" />
</a>

<br />
@Html.ActionLink("change password", "ChangePassword", "Manage")

@section scripts
{
    <script type="text/javascript" src="~/Scripts/account-settings.js"></script>
}


