html {
    height: 100%;
}


body {
    padding-top: 50px;
    font: PT Sans,Helvetica Neue,Arial,sans-serif !important;
    font-size: 15px;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    padding:25px 0 ;
    background-color: #e5e5e9;
    font-weight:600;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.link-disabled {
    pointer-events: none;
}

.skill-item{
    color:red;
    border:solid 1px black;
}

.skill-item:hover{
    opacity: 0.5;
    color:darkred;
}

.panel-inner {
    font-size: 14px;
}


.skills-container {
    border: 1px solid #cfcfd6;
    border-radius: 5px;
    padding: 0;
}

.skills-container > .skills-container-header {
    padding: 10px;
    background-color: #e5e5e9;
    border-radius: 5px 5px 0 0;
    color: #707083;
    padding-left: 1.3em;
    font-size: 110%;
    border-bottom: 1px solid #b4b4bf;
}

.skill-header {
    padding: 10px;
    border: none;
}

.skills-container .panel {
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0;
}

#skills-group .panel {
    margin: 0;
}

.skills-group{
}
.settings-group {
}

.skills-group ul {
    margin: 0;
    padding: 0;
}

.skills-group ul li {
    list-style-type: none;
    padding: 7px 20px 7px 25px;
    cursor:pointer;
}

.skills-group ul li:hover,
.settings-group .panel .panel-heading {
    background-color: #e5e5e9;
}

.skills-group ul li.active,
.settings-group .panel.active .panel-heading {
    background-color: #337ab7;
    color: white;
    font-weight: 700;
}

.skills-group ul li.active a,
.settings-group .panel.active .panel-heading a {
    color: white;
}

.skills-group a,
.settings-group a{
    text-decoration: none;
}

.skill-select {
    font-size: 120%;
    padding: 3px;
}

.bigger {
    font-size: 110% !important;
}

.jobs-count {
    font-size: 70%;
    padding: 4px 6px;
    background-color: #599cc7;
    border-radius: 20%;
    color: white;
    font-weight: 600;
}

.job-table {
    border: 1px solid #cdcdcd;
}

.search-table {
    border: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f9f9f9;
}

.search-table > tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9;
}

.search-table > tbody > tr:nth-child(even) > td{
    background-color: white;
}

.job-table td, .search-table td {
    vertical-align: middle !important;
}

.job-table th {
    color: #666;
    font-size: 100%;
    padding:12px 8px !important;
    background-color: #f9f9f9;
}


.search-table tbody tr td {
    border-top: none;
    border-bottom: 1px solid #cdcdcd;
}


.job-skills {
    font-size: 75%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.skill-link {
    cursor: pointer;
    color: #808080;
    font-size:110%;
}

.text-center {
    text-align: center;
}

.count-offers {
    color: orange;
    font-size: 180%;
}

.count-offers a {
    color: orange;
}

.price {
    color: #00ae5a;
    font-size: 180%;
}

.date-added {
    color: #555;
    font-size:120%;
}

.jobs-counter {
    color: #808080;
    padding: 3px 5px;  
    float:left;
}

.search-item-body{
    margin-left:60px;
}

.job-title{
    font-size:140%;
}


.job-customer {
    font-size: 150%;
}


.filter{
    margin:10px 0;
}

.filter-name{
    font-size:130%;
    font-weight:600;
    margin:10px;
}

.filter-count {
    padding: 2px 6px;
    background-color: #6eb056;
    font-size:110%;
    color:white;
    border-radius:10%;
}

.selected-skills-container {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.selected-skills-header {
    color: #aaa;
    padding: 5px;
}

.selected-skill {
    position: relative;
    background-color: #e4e4e4;
    padding: 3px 6px;
    border-radius: 4px;
    border: 1px solid #aaa;
    display: inline-block;
    margin-right:7px;
}


.selected-skill-name {
    color: black;
    font-size: 100%;
    padding: 10px;
    margin-left: 5px;
}

.delete-skill {
    color: #999;
    position: absolute;
    cursor: pointer;
    font-size: 100%;
    padding: 1px 3px;
    top: 2px;
    left: 2px;
}

.delete-skill:hover {
    color: black;
}

.skill-chekbox {
    display: inline-block;
    margin-left: 4px;
}

.skills-form{
    padding:10px;
}

.input-error {
    font-size:100%;
}

label.input-error {
    color: #a94442;
    font-size: 85%;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left:3px;
}

.search-group{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
}

.search-button{
    width:0;
}

.search-data {
    height: 35px;
    display: table;
    width: 0;
}

.job-button{
    display:inline-block;
    margin-right: 20px;
}

.profile-inforamtion{
    padding:30px;
}

.info-field {
   font-size:90%;
   font-weight:bold;
   font-family: Tahoma, Helvetica, Arial, Verdana, sans-serif;
}


.employees-container{
    margin-right:-15px;
    margin-left:15px;
}

.employee {
    border-top: 1px solid #e8e8e8;
    padding-top:10px;
    margin-bottom:10px;
}


.employee-photo {
    margin-right: 20px;
}

.employee-photo img {
    width: 85px;
    height: 85px;
    border-radius: 7px;
    border-radius:5px;
}

.employee-name {
    font-size: 150%;
}

.employee-skills {
    font-size:80%;
    color: #808080;
}


.employee-country {
    font-size: 110%;
}

.green {
    color: #00ae5a
}

.gray {
    color: #00ae5a
}

.employee-card {
    padding: 5px 7px;
}

.employee-feedbacks {
    padding-right: 10px;
    padding-left: 20px;
    display: inline-block;
}

.offer-job {
    padding: 0 5px 5px 5px;
}

.offer-job-btn {
    width: 100%;
    max-width:180px;
}

.employee-feedbacks-count {
    font-size: 140%;
    text-align: center;
}

.employee-feedbacks a {
    color: green;
    text-decoration: none;
}

.employee-feedbacks-info {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid #e8e8e8;
}

.employee-feedbacks-info-num {
    font-size: 140%;
    text-align: center;
}

.counter{
    margin-top:7px;
}

.profile-image {
    margin-right: 20px;
    float: left;
}

    .profile-image img {
        width: 100px;
        height: 100px;
    }

.profile-short-info {
    display: inline-block;
    padding: 25px 0;
}

.profile-username {
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 7px;
}

.date-registration {
    color: #959595;
    ;
    font-size: 90%;
}

.profile-view {
    color: #959595;
    ;
    font-size: 90%;
}

.profile-dop-info {
    display: inline-block;
    margin-left: 100px;
}

.profile-feedbacks-info {
    display: inline-block;
    margin-right: 15px;
}

.profile-feedbacks-info-count {
    font-size: 160%;
    text-align: center;
    color: #ff5722;
}

.profile-feedbacks-info a {
    color: green;
    font-size: 90%;
}

.profile-feedbacks-dop-info {
    display: inline-block;
    padding-left: 30px;
    border-left: 1px solid #e8e8e8;
    padding: 15px;
}

.profile-feedbacks-info-percent {
    font-size: 160%;
    color: #ff5722;
    text-align: center;
}

.profile-feedbacks-info-text {
    color: black;
    font-size: 90%;
    text-align: center;
}
