
@{
    ViewBag.Title = "MyOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("myjobs","customer")">Jobs</a></li>
        <li class="active"><a href="@Url.Action("myoffers","customer")">Offers</a></li>
    </ul>

    <br />
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <table class="table table-striped search-table">
                    <tbody></tbody>
                </table>
            </div>

            <div class="pagination"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/components/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/components/datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app/customer-offers.js"></script>
}

