
@{
    ViewBag.Title = "MyOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("myjobs","employee")">Jobs</a></li>
        <li class="active"><a href="@Url.Action("myoffers","emeployee")">Offers</a></li>
    </ul>

    <br />
    <div class="tab-content">
        <div class="tab-pane active">
            <div id="employee-offers-container">

            </div>

            <div class="pagination"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/employee-offers.js"></script>
}
